{# ! No relative paths needed, all files inside templates/ are available ! #}
{% extends "base.njk" %}

{% block title %}
{% endblock %}


{% block main %}
<p style="color: red;">Some test contnet</p>
{% endblock %}

{# include other blocks as necessary #}
